.formLayout {
  padding: 100px;
}

.heading {
  font-size: 32px;
  font-weight: 500;
  color: #990c58;
}

.inputArea {
  width: 100%;
  padding: 15px 24px;
  margin: 15px 0 25px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 5px;
}

.btn {
  cursor: pointer;
  background-color: #ff1493;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 15px;
  color: azure;
  font-weight: 600;
  transition: 0.3s all;
}

.btn:hover {
  color: #ff1493;
  background-color: azure;
}
